@charset "UTF-8";
/* Custom CSS */

body {
    background-color: #F6F6F6;
}

header {
    height: 200px;
    margin: 0 0 20px 0;
    padding: 30px;
}

header h1 {
    color: #9a9292;
    font-size: 500%;
    text-align: center;
}

.box {
    background-color: #fcfcfc;
    padding: 20px;
    margin: 0 0 20px 0;
    border: 1px solid #dbdbdb;
    height: 250px;
    text-align: center;
}

.box p {
    font-size: .9em;
}

.box .glyphicon {
    font-size: 4em;
    color: #05a3cf;
}

.box:hover {
    background: #fdf9f3;
}